.post
  &-item 
    width: 40px
    height: 50px

textarea 
  width: 900px
  height: 100px

.posts
  margin: 10px
  width: 100%

button 
  width: 100px
  height: 40px
  background: #45a89c
  border-radius: 20px
  cursor: pointer
  color: #fff 
  border: 1px solid #8f5653
  margin-left: 800px