.nav
  &-menu
    display: flex
    flex-direction: column
    padding: 10px  
  &-item 
    color: #fff
    text-decoration: none 
    font-weight: 600
    margin-block-start: 1.33em
  
.nav-active
  color: green

.active
  color: lightgreen
