*
  box-sizing: border-box

body 
  background-color: #ffe3d9 


.container 
  width: 1170px
  margin: 0 auto 

.app-wrapper
  display: grid
  grid-template-areas: "h h" "n c"
  grid-template-rows: 70px 1fr
  grid-auto-columns: 2fr 10fr
  grid-gap: 10px

.header
  grid-area: h
  z-index: 10
  height: 70px
  background-color: #45a89c
.nav
  grid-area: n 
  background-color: #f85565
  height: auto
.content
  grid-area: c 
  background-color: #4bc190